* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 215, 215);
}
h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
}
h2 {
    font-size: 30px;
}
.left {
    width: 80%;
}

.left, .right {
    float: left;
 
}
a {
    color: red;
}
 
  




